﻿@page
@model WebLatihan.Pages.Auth.LoginModel
@{
}
    <h1>Login</h1>
    <form method="post">
        <table>
            <tr>
                <td><label asp-for="Form.Username">Username</label></td>
                <td><label> : </label></td>
                <td><input asp-for="Form.Username" /></td>
                <td><span asp-validation-for="Form.Username"></span></td>
            </tr>
            <br />
            <tr>
                <td><label asp-for="Form.Password">Password</label></td>
                <td><label> : </label></td>
                <td><input asp-for="Form.Password" type="password" /></td>
                <td><span asp-validation-for="Form.Password"></span></td>
            </tr>
        </table>
        <br />
        <button type="submit">Login</button>
        <br />
        <div>
            <p>
                @Model.SuccessMessage
                @*@TempData["SuccessMessage"]*@
            </p>
        </div>
    </form>

